<html>
<title> SHRI KANHA SCHOOL </title>
<body>
<div id="main">
<h1>WELCOME ADMIN</h1>
</div>
<div class="new">
<form>
<h3>ENTER USER NAME </h3>
<input type="text" value="username" onfocus="this.value=''"  name="username">
<h3>ENTER PASSWORD </h3>
<input type="password" value="password" onfocus="this.value=''"  name="password">
<button class="btn btn-primary" value="submit">LOGIN</button>
</form>
</div>

<body>
</html>

<style>
#main{
font-size:50;
width:100%;
height:100px;
background-color:#008080;


}
.form{

width:300px;
height:200px;
border:4px;
border-radius:10%;
border-color:black;

}


.btn btn-primary{
margin-top:50px;
width:40px;
height:20px;
}



body{
margin:0px;
padding:0px;

}
.new{
width:300;
height:500;
float:center;
margin-top:50;
margin-left:400px;

}

</style>